<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'Louvre Museum - Ticketing'|trans }}{% endblock %}</title>
    {% stylesheets
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-8" style="text-align: center">
                            {% image 'bundles/adapurchase/css/images/Logo_Louvre.png' %}
                            <img src="{{ asset_url }}" alt="Logo_Louvre"/>
                            <h3>{{ 'Louvre museum'|trans }}</h3>
                            <p>{{ 'Order'|trans }} n° : {{ ticket.id }}</p>
                            {% endimage %}
                        </div>
                    </div>
                </div>
                <div class="well">
                    <p class="ticket">
                        email : {{ ticket.email }} </br>
                        date : {{ ticket.date|date('d/m/Y') }} </br>
                        {{ 'form.number'|trans  }} : {{ ticket.number }} </br>
                        type :
                        {% if (ticket.type == true) %}
                            {{ 'form.day'|trans  }}
                        {% else %}
                            {{ 'form.halfDay'|trans  }}
                        {% endif %}
                    </p>
                </div>
                <div class="well">
                        {% for customer in ticket.Customers %}
                            <p class="customer">
                                {{ 'form.firstName'|trans }} : {{ customer.firstName }} </br>
                                {{ 'form.name'|trans }} : {{ customer.name }} </br>
                                {{ 'form.country'|trans }} : {{ customer.country}} </br>
                                {{ 'form.birthDate'|trans }} : {{ customer.birthDate|date('d/m/Y') }} </br>
                                {{ 'form.reduce'|trans }} :
                                {% if (customer.reduce) %}
                                    {{ 'yes'|trans }}
                                {% else %}
                                    {{ 'no'|trans }}
                                {% endif %} </br>
                                {{ 'price'|trans }} : {{ customer.price|number_format(2, '.', ',') }}€
                            </p>
                        {% endfor %}
                    <br />
                    <p>Total : {{ ticket.totalPrice|number_format(2, '.', ',') }}€</p>
                </div>
            </div>
        </div>
        <div>{{ getBarCode() }}</div>
    </div>
    {% javascripts
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>


















