<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'Louvre Museum - Ticketing'|trans }}{% endblock %}</title>
    {% stylesheets
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="{{ absolute_url(asset('bundles/adapurchase/css/summary.css')) }}" rel="stylesheet">
</head>

<body>

    <div>
        <div>
            <div style="text-align: center;">
                <img src="{{ absolute_url(asset('bundles/adapurchase/css/images/Logo_Louvre.png')) }}" alt="Logo_Louvre"/>
                <h3>{{ 'Louvre museum'|trans }}</h3>
                <p style="width: 300px; margin: auto;">
                    <span style="font-weight: bold;">{{ 'Order'|trans }} n°</span> : {{ ticket.id }} </br>
                    <span style="font-weight: bold;">Email</span> : {{ ticket.email }} </br>
                    <span style="font-weight: bold;">Date</span> : {{ ticket.date|date('d/m/Y') }} </br>
                    <span style="font-weight: bold;">{{ 'form.number'|trans  }}</span> : {{ ticket.number }} </br>
                    <span style="font-weight: bold;">Type</span> :
                    {% if (ticket.type == true) %}
                        {{ 'form.day'|trans  }}
                    {% else %}
                        {{ 'form.halfDay'|trans  }}
                    {% endif %}
                </p>
            </div>
            <div style="text-align: center;">
                    {% for customer in ticket.Customers %}
                        <div style="display: inline-block; text-align: left; border: 1px dashed black; width:300px; margin: 15px; padding: 10px;">
                            <p>
                                <span style="font-weight: bold;">{{ 'form.firstName'|trans }}</span> : {{ customer.firstName }} </br>
                                <span style="font-weight: bold;">{{ 'form.name'|trans }}</span> : {{ customer.name }} </br>
                                <span style="font-weight: bold;">{{ 'form.country'|trans }}</span> : {{ customer.country}} </br>
                                <span style="font-weight: bold;">{{ 'form.birthDate'|trans }}</span> : {{ customer.birthDate|date('d/m/Y') }} </br>
                                <span style="font-weight: bold;">{{ 'form.reduce'|trans }}</span> :
                                {% if (customer.reduce) %}
                                    {{ 'yes'|trans }}
                                {% else %}
                                    {{ 'no'|trans }}
                                {% endif %} </br>
                                <span style="font-weight: bold;">{{ 'Price'|trans }}</span> : {{ customer.price|number_format(2, '.', ',') }}€
                            </p>
                        </div>
                    {% endfor %}
                <br />
                <div style="margin-bottom: 20px;"><span style="font-weight: bold;">Total</span> : {{ ticket.totalPrice|number_format(2, '.', ',') }}€</div>
            </div>
        </div>
        <div style="text-align: center;">{{ getBarCode() }}</div>
    </div>
    {% javascripts
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>


















