<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'Louvre Museum - Ticketing'|trans }}{% endblock %}</title>
        {% stylesheets
            '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
            'bundles/adapurchase/css/add.css'
            'bundles/adapurchase/css/jquery-ui.css'
            'bundles/adapurchase/css/jquery-ui.structure.css'
            'bundles/adapurchase/css/jquery-ui.theme.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

    <body class="container">
            <header class="row">
                <div class="col-sm-8 col-sm-offset-2 navbar navbar-default navbar-inverse">
                    <div class="text-center">
                        {% image 'bundles/adapurchase/css/images/Logo_Louvre.png' %}
                        <img src="{{ asset_url }}" alt="Logo_Louvre"/>
                        <h1>{{ 'Official ticketing'|trans }}</h1>
                        {% endimage %}
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 panel-red">
                    {% image 'bundles/adapurchase/css/images/Logo_Louvre_Min.png' %}
                    <div><img src="{{ asset_url }}" alt="Logo_Louvre"/>     {{ 'Louvre museum'|trans }}</div>
                    {% endimage %}
                </div>
            </div>
            <div class="row">
                <section class="col-sm-8 col-sm-offset-2 information">
                    Entrée libre, sans billet, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur, et les bénéficiaires des minima sociaux.
                    Billet valable seulement le jour sélectionné.
                </section>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="panel-heading panel-grey">
                        <a href="#item1" data-toggle="collapse">{{ 'Choose date'|trans }} <b class="caret"></b></a>
                    </div>
                    <div id="item1" class="panel-collapse collapse in">
                        <section class="panel-body text-center">
                            {{ form_widget(form.date) }}
                        </section>
                    </div>
                    <div class="panel-heading panel-grey">
                        <a href="#item2" data-toggle="collapse">{{ 'Choose a ticket type'|trans }} <b class="caret"></b></a>
                    </div>
                    <div id="item2" class="panel-collapse collapse">
                        <section class="panel-body text-center">
                            {{ form_widget(form.type) }}
                        </section>
                    </div>
                    <div class="panel-heading panel-grey">
                        <a href="#item3" data-toggle="collapse">{{ 'Choose a ticket number'|trans }} <b class="caret"></b></a>
                    </div>
                    <div id="item3" class="panel-collapse collapse">
                        <section class="panel-body text-center">
                            {{ form_widget(form.number) }}
                            {{ form_row(form.price) }}
                        </section>
                    </div>
                    <div class="panel-heading panel-grey">
                        <a href="#item4" data-toggle="collapse">{{ 'Information'|trans }} <b class="caret"></b></a>
                    </div>
                    <div id="item4" class="panel-collapse collapse">
                        <section class="panel-body text-center">
                            {{ form_row(form.customers) }}
                            <a href="#" id="add_user" class="btn btn-default">Ajouter une catégorie</a>
                            {{ form_rest(form) }}
                        </section>
                    </div>
                    <div class="panel-heading panel-grey">
                        <a href="#item5" data-toggle="collapse">{{ 'Basket'|trans }} <b class="caret"></b></a>
                    </div>
                    <div id="item5" class="panel-collapse collapse">
                        <section class="panel-body text-center">
                        </section>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <footer class="col-sm-8 col-sm-offset-2">
                    TEST
                </footer>
            </div>
            {#{% javascripts
        '//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">'
        '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
        'bundles/adapurchase/js/add.js'
        'bundles/adapurchase/js/jquery-ui.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}#}
            {% block javascripts %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function() {

                        var $container = $('div#ticket_customers');

                        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
                        var index = $container.find(':input').length;

                        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
                        $('#add_customer').click(function(e) {
                            addCustomer($container);

                            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                            return false;
                        });

                        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                        if (index == 0) {
                            addCustomer($container);
                        } else {
                            // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                            $container.children('div').each(function() {
                                addDeleteLink($(this));
                            });
                        }

                        // La fonction qui ajoute un formulaire CustomerType
                        function addCustomer($container) {
                            // Dans le contenu de l'attribut « data-prototype », on remplace :
                            // - le texte "__name__label__" qu'il contient par le label du champ
                            // - le texte "__name__" qu'il contient par le numéro du champ
                            var template = $container.attr('data-prototype')
                                    .replace(/__name__label__/g, 'Billet n°' + (index+1))
                                    .replace(/__name__/g,        index)
                                    ;

                            // On crée un objet jquery qui contient ce template
                            var $prototype = $(template);

                            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                            addDeleteLink($prototype);

                            // On ajoute le prototype modifié à la fin de la balise <div>
                            $container.append($prototype);

                            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                            index++;
                        }

                        // La fonction qui ajoute un lien de suppression d'une catégorie
                        function addDeleteLink($prototype) {
                            // Création du lien
                            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                            // Ajout du lien
                            $prototype.append($deleteLink);

                            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                            $deleteLink.click(function(e) {
                                $prototype.remove();

                                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                                return false;
                            });
                        }
                    });
                </script>
            {% endblock %}
    </body>
</html>
