{% extends "ADAPurchaseBundle::layout.html.twig" %}

{% block body %}
    <div class="panel-heading panel-grey">
        <p>{{ 'Basket'|trans }}</p>
    </div>
        <section class="panel-body text-center">
            <p class="ticket">
                {{ 'email'|trans }} : {{ ticket.email }} </br>
                {{ 'date'|trans  }}: {{ ticket.date|date('d/m/Y') }} </br>
                {{ 'number'|trans  }}: {{ ticket.number }} </br>
                {{ 'type'|trans  }}:
                {% if (ticket.type == true) %}
                    Journée
                {% else %}
                    Demi-Journée
                {% endif %}
            </p>

            {% for customer in ticket.customers %}
                <p class="customer">
                    {{ 'first name'|trans }} : {{ customer.firstName }} </br>
                    {{ 'name'|trans }} : {{ customer.name }} </br>
                    {{ 'country'|trans }} : {{ customer.country}} </br>
                    {{ 'birthday'|trans }} : {{ customer.birthDate|date('d/m/Y') }} </br>
                    {{ 'reduce'|trans }} :
                    {% if (customer.reduce) %}
                        oui
                    {% else %}
                        non
                    {% endif %} </br>
                    {{ 'price'|trans }} : {{ customer.price|number_format(2, '.', ',') }}€
                </p>
            {% endfor %}

            <p>{{ 'total order'|trans }} : {{ ticket.totalPrice|number_format(2, '.', ',') }}€</p>
        </section>
{% endblock %}

