{% extends "ADAPurchaseBundle::layout.html.twig" %}

{% block body %}
    <div class="panel-heading panel-grey">
        <p class="p" style="margin-top: 15px !important;">{{ 'Finalization'|trans }}</p>
    </div>
    <section class="panel-body text-center">
        <p>
        {{ 'final.confirmation'|trans }}</br>
        {{ 'final.instructions'|trans }}</br></br>
        {{ 'final.thanks'|trans }}
        </p>
        <a href="{{ path('ada_purchase_index') }}" class="btn btn-success" title="Return">{{ 'Return'|trans }}</a>
    </section>
{% endblock %}