{% extends "ADAPurchaseBundle::layout.html.twig" %}

{% block body %}
    <div class="panel-heading panel-grey">
        <p class="p">{{ 'Summary'|trans }}</p>
    </div>
    <section class="panel-body text-center">
        <p class="ticket">
            email : {{ ticket.email }} </br>
            date : {{ ticket.date|date('d-m-Y') }} </br>
            {{ 'form.number'|trans  }} : {{ ticket.number }} </br>
            type :
            {% if (ticket.type == true) %}
                {{ 'form.day'|trans  }}
            {% else %}
                {{ 'form.halfDay'|trans  }}
            {% endif %}
        </p>

        {% for customer in ticket.customers %}
            <p class="customer">
                {{ 'form.firstName'|trans }} : {{ customer.firstName }} </br>
                {{ 'form.name'|trans }} : {{ customer.name }} </br>
                {{ 'form.country'|trans }} : {{ customer.country}} </br>
                {{ 'form.birthDate'|trans }} : {{ customer.birthDate|date('d-m-Y') }} </br>
                {{ 'form.reduce'|trans }} :
                {% if (customer.reduce) %}
                    {{ 'yes'|trans }}
                {% else %}
                    {{ 'no'|trans }}
                {% endif %} </br>
                {{ 'price'|trans }} : {{ customer.price|number_format(2, '.', ',') }}€
            </p>
        {% endfor %}

        <p>Total : {{ ticket.totalPrice|number_format(2, '.', ',') }}€</p>
        <div class="button">
        <button type="button" class="stripe-button-el" onclick="window.history.back();" style="margin-right: 15px;" ><span style="display: block; min-height: 30px;">{{ 'Edit'|trans }}</span></button>
        {% if ticket.totalPrice > 0 %}
            <form action="{{ path('ada_purchase_payment') }}" method="POST">
                <script
                        class="stripe-button"
                        data-key="{{ stripe_data_key }}"
                        data-amount="{{ ticket.totalPrice|number_format(2, '.', ',') * 100 }}"
                        data-name="{{ 'Louvre museum'|trans }}"
                        data-email="{{ ticket.email }}"
                        data-description="{{ 'Payment'|trans }}"
                        data-label="{{ 'Pay'|trans }}"
                        data-locale="{{ app.request.locale }}"
                        data-currency="eur">
                </script>
            </form>
        {% endif %}
        </div>
    </section>
{% endblock %}

