{% extends "ADAPurchaseBundle::layout.html.twig" %}


{% block stylesheets %}
    <link href="{{ asset('bundles/adapurchase/css/summary.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="panel-heading panel-grey">
        <p class="p">{{ 'Summary'|trans }}</p>
    </div>
    <section class="panel-body text-center">
        <p class="ticket">
            Email : {{ ticket.email }} </br>
            {{ 'form.date'|trans  }} : {{ ticket.date|date('d-m-Y') }} </br>
            {{ 'form.number'|trans  }} : {{ ticket.number }} </br>
            Type :
            {% if (ticket.type == true) %}
                {{ 'form.day'|trans  }}
            {% else %}
                {{ 'form.halfDay'|trans  }}
            {% endif %}
        </p>

        {% for customer in ticket.customers %}
                <p class="customer">
                    {{ 'form.firstName'|trans }} : {{ customer.firstName }} </br>
                    {{ 'form.name'|trans }} : {{ customer.name }} </br>
                    {{ 'form.country'|trans }} : {{ customer.country}} </br>
                    {{ 'form.birthDate'|trans }} : {{ customer.birthDate|date('d-m-Y') }} </br>
                    {{ 'form.reduce'|trans }} :
                    {% if (customer.reduce) %}
                        {{ 'yes'|trans }}
                    {% else %}
                        {{ 'no'|trans }}
                    {% endif %} </br>
                    {{ 'Price'|trans }} : {{ customer.price|number_format(2, '.', ',') }}€
                </p>
        {% endfor %}

        <p>Total : {{ ticket.totalPrice|number_format(2, '.', ',') }}€</p>
        <div class="button">
            <button type="button" class="btn btn-default" title="Editer" data-toggle="modal" data-target="#commentDialog"><span class="glyphicon glyphicon-edit"></span>
            </button>
            {#<a class="btn btn-default btn-connexion-modal" href="{{ path("ada_purchase_edit") }}" data-toggle="modal" data-target="#connexionModal"><span class="glyphicon glyphicon-edit"></span></a>#}
            <div class="modal fade" id="commentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body" >
                            <form action="{{ path('ada_purchase_summary') }}" method="post" id="ticket-form">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form_label(form.date) }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form_widget(form.date) }}
                                        {{ form_errors(form.date) }}
                                    </div>
                                </div>
                                <div id="type" class="row">
                                    <div class="form-inline">
                                        <div class="col-sm-4">
                                            {{ form_label(form.type) }}
                                        </div>
                                        <div class="col-sm-4 type">
                                            {{ form_widget(form.type) }}
                                            {{ form_errors(form.type) }}
                                        </div>
                                    </div>
                                </div>
                                <div id="number" class="row">
                                    <div class="col-sm-4">
                                        {{ form_label(form.number, 'form.number') }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form_widget(form.number) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form_label(form.email) }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        {% for customer in ticket.customers %}
                                            {{ form_widget(form.customers) }}
                                            {{ form_errors(form.customers) }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="errorMessage"></div>
                                <div>
                                    {{ form_widget(form.save, {'label': 'Validate', 'attr': {'class': 'btn btn-success', 'url': path('ada_purchase_summary')}}) }}
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                        <div class="modal-footer" ></div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% if ticket.totalPrice > 0 %}
                <form action="{{ path('ada_purchase_payment') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_data_key }}"
                            data-amount="{{ ticket.totalPrice|number_format(2, '.', ',') * 100 }}"
                            data-name="{{ 'Louvre museum'|trans }}"
                            data-email="{{ ticket.email }}"
                            data-description="{{ 'Payment'|trans }}"
                            data-label="{{ 'Pay'|trans }}"
                            data-locale="{{ app.request.locale }}"
                            data-currency="eur">
                    </script>
                </form>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adapurchase/js/summary.js') }}"></script>
    <script src="{{ asset('bundles/adapurchase/js/customer.js') }}"></script>
{% endblock %}

