{% extends "ADAPurchaseBundle::layout.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div id="monaccordeon">
        <div class="panel">
            <div class="panel-heading panel-grey">
                <a href="#item1" data-parent="#monaccordeon"  data-toggle="collapse">{{ 'Choose date'|trans }} <b class="caret"></b></a>
            </div>
            <div id="item1" class="panel-collapse collapse in">
                <section class="panel-body">
                    <div id="Date" class="section input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        {{ form_widget(form.date) }}
                        <div class="erreur red">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading panel-grey">
                <a href="#item2" data-parent="#monaccordeon" data-toggle="collapse">{{ 'Choose a ticket type'|trans }} <b class="caret"></b></a>
            </div>
            <div id="item2" class="panel-collapse collapse">
                <section class="panel-body">
                    <div class="section">
                        {{ form_widget(form.type) }}
                    </div>
                </section>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading panel-grey">
                <a href="#item3" data-parent="#monaccordeon" data-toggle="collapse">{{ 'Choose a ticket number'|trans }} <b class="caret"></b></a>
            </div>
            <div id="item3" class="panel-collapse collapse">
                <section class="panel-body text-center">
                    <div class="section">
                        {{ form_widget(form.number) }}
                    </div>
                </section>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading panel-grey">
                <a href="#item4" data-parent="#monaccordeon" data-toggle="collapse">Email <b class="caret"></b></a>
            </div>
            <div id="item4" class="panel-collapse collapse">
                <section class="panel-body">
                    <div class="section">
                        <div class="input-group email">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                            {{ form_widget(form.email.first)}}
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                            {{ form_widget(form.email.second)}}
                        </div>
                        <div>
                            {{ form_errors(form.email.first)}}
                            {{ form_errors(form.email.second)}}
                            {{ form_errors(form.email)}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading panel-grey">
                <a href="#item5" data-parent="#monaccordeon" data-toggle="collapse">{{ 'Informations'|trans }} <b class="caret"></b></a>
            </div>
            <div id="item5" class="panel-collapse collapse">
                <section class="panel-body">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                        {{ form_widget(form.customers) }}
                        </div>
                        <div class="col-sm-2 col-sm-offset-5 red">
                        <input type="submit" value="{{ 'Validate'|trans }}" class="btn btn-success" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adapurchase/js/customer.js') }}"></script>
{% endblock %}

